<div class="page" data-name="buscar">
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="title">Endoméxico</div>
        <div class="subnavbar">
                
    <!-- Searchbar with auto init -->
<form class="searchbar">
  <div class="searchbar-inner">
    <div class="searchbar-input-wrap">
      <div class="left">
        <a class="link back">
          <i class="icon icon-back"></i>
          <span class="if-not-md">Back</span>
        </a>
        <div class="right">
      <input type="search" placeholder="Search">
      <i class="searchbar-icon"></i>
      <span class="input-clear-button"></span>
    </div>
    <span class="searchbar-disable-button if-not-aurora">Cancel</span>
  </div>
</form>




  <div class="list media-list">
    <ul>
      <li>
        <a href="#" class="item-link item-content">
          <div class="item-media"><img src="images/trocar.png" width="80"/></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Trocares</div>
              <div class="item-after">$12,394.60</div>
            </div>
            <div class="item-subtitle">Kit Trócar 12.5 mm Válvula Magnética</div>
            <div class="item-text">Práctico trócar reusable elaborado con acero grado quirúrgico</div>
          </div></a></li>
      <li>
        <a href="#" class="item-link item-content">
          <div class="item-media"><img src="images/retactor.png" width="80"/></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Retractores</div>
              <div class="item-after">$7,435.60</div>
            </div>
            <div class="item-subtitle">Retractor Hepático 3 Dedos</div>
            <div class="item-text">Práctico y cómodo retractor hepático en forma de abanico de 3 dedos retraible y roticulable.</div>
          </div>
        </a>
      </li>
      <li>
        <a href="#" class="item-link item-content">
          <div class="item-media"><img src="images/carro.png"width="80"/></div>
          <div class="item-inner">
            <div class="item-title-row">
              <div class="item-title">Carro Porta Equipo Abiertos</div>
              <div class="item-after">1331 USD + IVA</div>
            </div>
            <div class="item-subtitle">Carro </div>
            <div class="item-text">Con brazo multigiratorio</div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  

         
        <div class="col">

          <p> <a href="/product/" class="col button button-outline black">product</a></p>
      </div>

        

</div>
        </div>
          

          
            

          
       