<div class="page" data-name="main">
    
  <div class="navbar">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <div class="title">Endoméxico</div>
      <div class="subnavbar">
              
  <!-- Searchbar with auto init -->
<form class="searchbar">
<div class="searchbar-inner">
  <div class="searchbar-input-wrap">
    <div class="left">
      <a class="link back">
        <i class="icon icon-back"></i>
        <span class="if-not-md">Back</span>
      </a>
      <div class="right">
    <input type="search" placeholder="Search">
    <i class="searchbar-icon"></i>
    <span class="input-clear-button"></span>
  </div>
  <span class="searchbar-disable-button if-not-aurora">Cancel</span>
</div>
</form>

 

 

   
        <div class="row" style="margin-top:20px;">
            
        

            <div class="list media-list">
              <ul>
                <li>
                  <a href="#" class="item-link item-content">
                    <div class="item-media"><img src="images/clipadora.png" width="80"/></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Clipadora</div>
                        <div class="item-after">$9,419.20</div>
                      </div>
                      <div class="item-subtitle">Clipadora</div>
                      <div class="item-text">Clipadora 5 mm para Clip VERDE</div>
                    </div></a></li>
                <li>
                  <a href="#" class="item-link item-content">
                    <div class="item-media"><img src="images/portagujas.png" width="80"/></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Portagujas</div>
                        <div class="item-after">$11,072.20</div>
                      </div>
                      <div class="item-subtitle">Portagujas</div>
                      <div class="item-text">Portagujas Mango Ergonómico Punta Recta</div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="#" class="item-link item-content">
                    <div class="item-media"><img src="images/pinza.png"width="80"/></div>
                    <div class="item-inner">
                      <div class="item-title-row">
                        <div class="item-title">Pinzas Laparoscópicas</div>
                        <div class="item-after">$6,942</div>
                      </div>
                      <div class="item-subtitle">Pinza</div>
                      <div class="item-text">Pinza laparoscópica, alma de acero con extensión insulada para sujetar insertos intercambiables de acero quirúrgico grado T 304.</div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
        
    
            <div class="col">

                <p> <a href="/buscar/" class="col button button-outline black">buscar</a></p>
            </div>
    
     
    
    

</div>

</div>

</div>