<div class="page" data-name="carrito">
    
    <!-- Static Navbar -->
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="left">
            <a class="link back">
              <i class="icon icon-back"></i>
              <span class="if-not-md">Back</span>
            </a>
          </div>
       
        <div class="title">carrito</div>
        <div class="right"></div>
      </div>
    </div>
    <div class="card demo-card-header-pic">
        <img src="images/carritoview.jpg" class="card-header align-items-flex-end">No tiene nada en el carrito</div>
        <div class="card-content card-content-padding">
          <p class="date">Date: January 21, 2015</p>
          <p>Para continuar con la compra seleccione algun producto de nuestro catálogo</p>
        </div>
        <div class="card-footer"><a href="#" class="link">añadir</a><a href="#" class="link">comprar</a></div>

        <div class="page-content">

        <div data-pagination='{"el": ".swiper-pagination"}' data-space-between="10" data-slides-per-view="3" class="swiper-container swiper-init demo-swiper">
            <div class="swiper-pagination"></div>
            <div class="swiper-wrapper">
              <div class="swiper-slide"><img src="images/trocar.jpg"heighth="100"  width="100"></div>
              <div class="swiper-slide"><img src="images/pinza.jpg"heighth="100"  width="100"></div>
              <div class="swiper-slide"><img src="images/bajanudo.jpg"heighth="100"  width="100"></div>
              <div class="swiper-slide"><img src="images/trocar.jpg"heighth="100"  width="100"></div>
              <div class="swiper-slide"><img src="images/trocar.jpg"heighth="100"  width="100"></div>
              <div class="swiper-slide"><img src="images/trocar.jpg"heighth="100"  width="100"></div>
            </div>
        </div>
    
            <div class="col">

                <p> <a href="/pago/" class="col button button-outline black">pago</a></p>
            </div>
          </div>
      
    