<div class="page" data-name="lol">
  
    <!-- Static Navbar -->
    <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="left">
          <a class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">Endoméxico</div>
        <div class="right"></div>
      </div>

      <div class="block">
        <div class="login-screen-title">lol</div>
        <div class="row" style="margin-top:20px;">
         
            
            <div class="page-content"></div>
            <div class="list">
              <ul>
                <li class="item-content item-input">
                  <div class="item-media">
                    <i class="icon demo-list-icon"></i>
                  </div>
                  <div class="item-inner">
                    <div class="item-title item-label">Name</div>
                    <div class="item-input-wrap">
                      <input type="text" placeholder="Your name">
                    </div>
                  </div>
                </li>
                <li class="item-content item-input">
                  <div class="item-media">
                    <i class="icon demo-list-icon"></i>
                  </div>
                  <div class="item-inner">
                    <div class="item-title item-label">About</div>
                    <div class="item-input-wrap">
                      <div class="text-editor text-editor-init text-editor-resizable" data-placeholder="About" data-buttons='["bold", "italic", "underline", "strikeThrough"]' data-mode="popover">
                        <div class="text-editor-content" contenteditable></div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            <li>
                <a class="item-link smart-select smart-select-init">
                  <select name="fruits">
                    <option value="apple" selected>Apple</option>
                    <option value="pineapple">Pineapple</option>
                    <option value="pear">Pear</option>
                    <option value="orange">Orange</option>
                    <option value="melon">Melon</option>
                    <option value="peach">Peach</option>
                    <option value="banana">Banana</option>
                  </select>
                  <div class="item-content">
                    <div class="item-inner">
                      <div class="item-title">Fruit</div>
                    </div>
                  </div>
                  
                </a>
              </li>
              <div class="text-editor text-editor-init" data-placeholder="Enter text..." data-buttons='[["bold", "italic", "underline", "strikeThrough"], ["orderedList", "unorderedList"]]'>
                <div class="text-editor-content" contenteditable></div>
              </div>
</div>