<div class="page" data-name="perfil">
    
     <!-- Static Navbar -->
     <div class="navbar">
      <div class="navbar-bg"></div>
      <div class="navbar-inner">
        <div class="left">
          <a class="link back">
            <i class="icon icon-back"></i>
            <span class="if-not-md">Back</span>
          </a>
        </div>
        <div class="title">Endoméxico</div>
        <div class="right"></div>
      </div>
      <div class="block">
        <div class="login-screen-title">perfil</div>

  
    <div class="page-content">

      <div class="list">
        <ul>
          <li>
            <a href="#" class="item-link item-content">
             
              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner">
                <div class="item-title">
                  <div class="item-header">Name</div>
                  | Eduardo Parra IAO
                </div>
                   <div class="item-after"></div>
                   <img src="icons/facebook.png"  width="50" height="60">
<li>

            <a href="#" class="item-link item-content">

              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner">
                <div class="item-title">
                  <div class="item-header">Phone</div>
                  | +7 90 111-22-3344
                </div>
                <div class="item-after"></div>  <img src="icons/llamada.png"  width="50" height="60">
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner">
                <div class="item-title">
                  <div class="item-header">Email</div>
                  | eduardo.parra27@anahuac.mx
                  <div class="item-footer">Home</div>
                </div>
                <div class="item-after"></div>
                <img src="icons/correo.png"  width="50" height="60">
              </div>
            </a>
          </li>
          <li>
            <a href="#" class="item-link item-content">
              <div class="item-media"><i class="icon icon-f7"></i></div>
              <div class="item-inner">
                <div class="item-title">
                  <div class="item-header">Email</div>
                  | eparra@gmail.com
                  <div class="item-footer">Work</div>
                </div>
                <div class="item-after"></div>
                <img src="icons/llamada.png"  width="50" height="60">
              </div>
            </a>
          </li>
        </ul>
      </div>

     </div>
     
<div class="row"
    class="col" style="margin-top: 20px;"></div>
            <p> <a href="/main/" class="col button button-outline black">menu</a></p>  
            <p> <a href="/home/" class="col button button-outline black">Cancelar</a></p>

        

</div>

</div>

</div>